@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>


@* @model PlanoContaModel
@{
    ViewData["Title"] = "Plano Conta";
}
<div class="text-center">
    <h1></h1>
    <form asp-controller="PlanoConta" asp-action="Cadastro" method="post">
        <div class="">
<label for=""></label>
<input type="text" class>
        </div>
<div class="mb-3">
    <label>@Html.RadioButtonFor()</label>
</div>
        <div class="mb-3">
<button type="submit"></button>
        </div>
    </form>
</div> *@